doctype html

html(lang="en")
  head
    title Notepad Live

  body(style = "text-align:center;")
    h1 Notepad Live!

    #center_area
      #selectId_list(style = "margin:0 40% 0 40%")
        table(width = "100%")
          tbody

            - if(idCount > 0)
              tr
                td(colspan = 2)
                  |Open saved project, Select id:
              tr
                form(id = "submitId",action = "#{baseUrl}#{submitId_actionUrl}")
                  td
                    - var isSelected = 'selected'
                    select(name='id',id = "projectId")
                      - for(var x =1;x<=idCount;x++)
                        option(value=x, selected=isSelected)= x
                        - if(x == 1)
                          - isSelected = null
                  td
                    input(type = "submit", id = "submitId")
              tr
                td(colspan = 2)
                  |OR

            tr
              td(colspan = 2)
                a(href = "#{baseUrl}#{submitId_actionUrl}?id=#{newId}")
                  button(id = "create_new") Create New Project
    
